<div class="footer">
    <div class="footer-content need-padding">
        <span class="info">
            Copyright © <%= new Date().getFullYear() %> <%= theme.site.name %>, All Rights Reserved.<br>
            <br>
            The content of the site is licensed under CC BY-NC 4.0<img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"><img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"><img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;">
        </span>
        <div class="footer-logo">
            <img src="/img/jnsec_mascot.png" alt="<%= theme.site.name %>" class="footer-logo-img">
            <img src="/img/jnsec.svg" alt="<%= theme.site.name %>" class="footer-logo-img">
        </div>
    </div>
</div>